{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock page_title %}

{% block content %}
    {% if user.is_authenticated %}
        {% if token %}
        <h1>{{ token }}</h1>
        {% else %}
            <h1>No active tokens</h1>
        {% endif %}
    {% else %}
    <div class="index-wrapper">
        <h3>You can</h3>
        <a class="login-register" href="{% url 'login' %}">Login</a>
        <h3>or</h3>
        <a class="login-register" href="{% url 'login' %}">Register</a>
    </div>
    {% endif %}
{% endblock %}